# Local configuration
conf.json

# Saved csvs
csvs/
*.csv

# Pickle Files
*.pickle
 
# Saved results
*.txt
 
# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
*.ipynb

# Vim temp files
*.swp
