# Local configuration
conf.json

# Saved csvs
csvs/
*.csv

# Results Files
*.pickle
*.dump 
*.xz
*.trace
*.png
*.txt
*.svg
*.jpg
*.log
 
# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
*.ipynb

# Vim temp files
*.swp
